<h1>Viewall#index</h1>
<p>Find me in app/views/viewall/index.html.erb</p>


<table id="alumniTable" class="display">
	<thead>
		<td>id</td>
		<td>name</td>
		<td>department</td>
		<td>hall</td>
		<td>search</td>
		<td>response</td>
		<td></td>
	</thead>
	<tbody>
		<% @allAlums.each do |alumni| %>
		<tr>
			<td><%= alumni.id %></td>
			<td><%= alumni.name %></td>
			<td><%= alumni.department %></td>
			<td><%= alumni.hall %></td>
			<td><%= AlumniStatus.where({ :Alumni_id => "#{alumni.id}" })[0].search %></td>
			<td><%= AlumniStatus.where({ :Alumni_id => "#{alumni.id}" })[0].response %></td>
			<td><a href="<%= alumni_path(alumni.id) %>">OPEN</a></td>
		</tr>
		<% end %>
		<tr>
		</tr>
	</tbody>
</table>

<script>
$(document).ready(function() 
    { 
      $("#alumniTable").DataTable({
      	responsive: true
      }); 
    } 
); 
  
</script>
