<h2 align="center">Complete Student Member Status</h2>
<hr>

<style type="text/css">
.label {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid transparent;
	border-radius: 4px;
	/*margin: 3px;*/
}

.label-primary .badge {
	color: #428bca;
	background-color: #fff;
}
.label-success .badge {
	color: #5cb85c;
	background-color: #fff;
}
.label-info .badge {
	color: #5bc0de;
	background-color: #fff;
}
.label-warning .badge {
	color: #f0ad4e;
	background-color: #fff;
}
.label-danger .badge {
	color: #d9534f;
	background-color: #fff;
}
</style>

<table class="table table-justified">
	<thead>
		<td>id</td>
		<td>name</td>
		<td>total alumni alloted</td>
		<td>response status</td>
		<td>search status</td>
	</thead>
	<tbody>
		<% @allStudents.each do |student| %>
		<% @searchAdd = 0 %>
		<% @responseAdd = 0 %>
		<% @ready = 0 %>
		<% @found = 0 %>
		<% @tobesearched = 0 %>
		<% @dumped = 0 %>
		<% @positive = 0 %>
		<% @negative = 0 %>
		<% @neutral = 0 %>
		<% @registered = 0 %>
		<tr>
			<%# allties = TieAlumniWithStudentMember.where({ :studentmember_id => "#{student.id}" }) %>
			<% allties = @allTies.where({ :studentmember_id => "#{student.id}" }) %>
				<% if allties.length >= 1 %>
					<% allties.each do |tie| %>
					<%# stat = AlumniStatus.where({ :alumni_id => "#{tie.alumni_id}"}) %>
					<% stat = @allStatus.where({ :alumni_id => "#{tie.alumni_id}"}) %>

						<% case stat[0].search %>
						<% when "ready" %>
						<% @ready = @ready + 1 %>
						<% when "found" %>
						<% @found = @found + 1 %>
						<% when "tobesearched" %>
						<% @tobesearched = @tobesearched + 1 %>
						<% when "dumped" %>
						<% @dumped = @dumped + 1 %>
						<% else %>
						<% @search = 0 %>
						<% end %>

						<% case stat[0].response %>
						<% when "positive" %>
						<% @positive = @positive + 1 %>
						<% when "negative" %>
						<% @negative = @negative + 1 %>
						<% when "neutral" %>
						<% @neutral = @neutral + 1 %>
						<% when "registered" %>
						<% @registered = @registered + 1 %>
						<% else %>
						<% @search = 0 %>
						<% end %>

					<% end %>
				<% else %>
					<% @searchAdd = 100 %>
					<% @responseAdd = 100 %>
				<% end %>

			<td><%= student.id %></td>
			<td><%= student.name %></td>
			<td><%= allties.length %></td>
			<td>
				<a href="/viewall/alumni/?search=<%= student.name %> Positive">
				<label class="label label-success"> Positive <span class="badge"> <%= @positive %> </span> </label>
				</a>
				<a href="/viewall/alumni/?search=<%= student.name %> Negative">
				<label class="label label-danger"> Negative <span class="badge"> <%= @negative %> </span> </label>
				</a>
				<a href="/viewall/alumni/?search=<%= student.name %> Neutral">
				<label class="label label-info"> Neutral <span class="badge"> <%= @neutral %> </span> </label>
				</a>
				<a href="/viewall/alumni/?search=<%= student.name %> Registered">
				<label class="label label-primary"> Registered <span class="badge"> <%= @registered %> </span> </label>
				</a>
			</td>
			<td>
				<label class="label label-primary">Ready <span class="badge"> <%= @ready %> </span></label>
				<label class="label label-success">Found  <span class="badge"> <%= @found %> </span></label>
				<label class="label label-info">Tobesearched <span class="badge"> <%= @tobesearched %> </span></label>
				<label class="label label-danger">Dumped <span class="badge"> <%= @dumped %> </span></label>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
