<h2 align="center">Complete Student Member Status</h2>
<hr>

<table class="table table-justified">
	<thead>
		<td>id</td>
		<td>name</td>
		<td>total alumni alloted</td>
		<td>response status</td>
		<td>search status</td>
	</thead>
	<tbody>
		<% @allStudents.each do |student| %>
		<% @searchAdd = 0 %>
		<% @responseAdd = 0 %>
		<tr>
			<% allties = TieAlumniWithStudentMember.where({ :StudentMember_id => "#{student.id}" }) %>
				<% if allties.length >= 1 %>
					<% allties.each do |tie| %>
					<% stat = AlumniStatus.where({ :Alumni_id => "#{tie.Alumni_id}"}) %>
						<% if stat[0].search == "success" %>
						<% @searchAdd = @searchAdd + 1 %>
						<% end %>
						<% if stat[0].response == "success" %>
						<% @responseAdd = @responseAdd + 1 %>
						<% end %>
					<% end %>
				<% else %>
					<% @searchAdd = 100 %>
					<% @responseAdd = 100 %>
				<% end %>
			<td><%= student.id %></td>
			<td><%= student.name %></td>
			<td><%= allties.length %></td>
			<td><%= @responseAdd %></td>
			<td><%= @searchAdd %></td>
		</tr>
		<% end %>
	</tbody>
</table>