<h2 align="center">Complete Student Member Status</h2>
<hr>

<style type="text/css">
.btn {
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid transparent;
	border-radius: 4px;
	/*margin: 3px;*/
}

.btn-primary .badge {
	color: #428bca;
	background-color: #fff;
}
.btn-success .badge {
	color: #5cb85c;
	background-color: #fff;
}
.btn-info .badge {
	color: #5bc0de;
	background-color: #fff;
}
.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff;
}
.btn-danger .badge {
	color: #d9534f;
	background-color: #fff;
}
a:hover {
	text-decoration: none !important;
}
</style>

<table class="table table-justified">
	<thead>
		<td>id</td>
		<td>name</td>
		<td>total alumni alloted</td>
		<td>response status</td>
		<td>search status</td>
	</thead>
	<tbody>
		<% @allStudents.each do |student| %>
		<% @searchAdd = 0 %>
		<% @responseAdd = 0 %>
		<% @ready = 0 %>
		<% @found = 0 %>
		<% @tobesearched = 0 %>
		<% @dumped = 0 %>
		<% @positive = 0 %>
		<% @negative = 0 %>
		<% @neutral = 0 %>
		<% @registered = 0 %>
		<tr>
			<%# allties = TieAlumniWithStudentMember.where({ :studentmember_id => "#{student.id}" }) %>
			<% allties = @allTies.where({ :studentmember_id => "#{student.id}" }) %>
				<% if allties.length >= 1 %>
					<% allties.each do |tie| %>
					<%# stat = AlumniStatus.where({ :alumni_id => "#{tie.alumni_id}"}) %>
					<% stat = @allStatus.where({ :alumni_id => "#{tie.alumni_id}"}) %>

						<% case stat[0].search %>
						<% when "ready" %>
						<% @ready = @ready + 1 %>
						<% when "found" %>
						<% @found = @found + 1 %>
						<% when "tobesearched" %>
						<% @tobesearched = @tobesearched + 1 %>
						<% when "dumped" %>
						<% @dumped = @dumped + 1 %>
						<% else %>
						<% @search = 0 %>
						<% end %>

						<% case stat[0].response %>
						<% when "positive" %>
						<% @positive = @positive + 1 %>
						<% when "negative" %>
						<% @negative = @negative + 1 %>
						<% when "neutral" %>
						<% @neutral = @neutral + 1 %>
						<% when "registered" %>
						<% @registered = @registered + 1 %>
						<% else %>
						<% @search = 0 %>
						<% end %>

					<% end %>
				<% else %>
					<% @searchAdd = 100 %>
					<% @responseAdd = 100 %>
				<% end %>

			<td><%= student.id %></td>
			<td><%= student.name %></td>
			<td><%= allties.length %></td>
			<td>
				<% if allties.length >= 1 %>
				<div class="progress">
					<a href="/viewall/alumni/?search=<%= student.name %> Positive">
					<!-- <btn class="btn btn-success"> Positive <span class="badge"> <%= @positive %> </span> </btn> -->
					<div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @positive/allties.length * 100 %>%;">
						<%= @positive/allties.length %>
					</div>
					</a>
					<a href="/viewall/alumni/?search=<%= student.name %> Negative">
					<!-- <btn class="btn btn-danger"> Negative <span class="badge"> <%= @negative %> </span> </btn> -->
					<div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @negative/allties.length * 100 %>%;">
						<%= @negative/allties.length %>
					</div>
					</a>
					<a href="/viewall/alumni/?search=<%= student.name %> Neutral">
					<!-- <btn class="btn btn-info"> Neutral <span class="badge"> <%= @neutral %> </span> </btn> -->
					<div class="progress-bar progress-bar-info" role="progressbar" style="width: <%= @neutral/allties.length * 100 %>%;">
						<%= @neutral/allties.length %>
					</div>
					</a>
					<a href="/viewall/alumni/?search=<%= student.name %> Registered">
					<!-- <btn class="btn btn-primary"> Registered <span class="badge"> <%= @registered %> </span> </btn> -->
					<div class="progress-bar progress-bar-primary" role="progressbar" style="width: <%= @registered/allties.length * 100 %>%;">
						<%= @registered/allties.length %>
					</div>
					</a>
				</div>
				<% else %>
				<p>
					No alumni alloted
				</p>
				<% end %>
			</td>
			<td>
				<% if allties.length >= 1 %>
				<div class="progress">
					<a href="/viewall/alumni/?search=<%= student.name %> Ready">
					<!-- <btn class="btn btn-primary">Ready <span class="badge"> <%= @ready %> </span></btn> -->
					<div class="progress-bar progress-bar-primary" role="progressbar" style="width: <%= @ready/allties.length * 100 %>%;">
						<%= @ready/allties.length %>
					</div>
					</a>
					<a href="/viewall/alumni/?search=<%= student.name %> Found">
					<!-- <btn class="btn btn-success">Found  <span class="badge"> <%= @found %> </span></btn> -->
					<div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @found/allties.length * 100 %>%;">
						<%= @found/allties.length %>
					</div>
					</a>
					<a href="/viewall/alumni/?search=<%= student.name %> Tobesearched">
					<!-- <btn class="btn btn-info">Tobesearched <span class="badge"> <%= @tobesearched %> </span></btn> -->
					<div class="progress-bar progress-bar-info" role="progressbar" style="width: <%= @tobesearched/allties.length * 100 %>%;">
						<%= @tobesearched/allties.length %>
					</div>
					</a>
					<a href="/viewall/alumni/?search=<%= student.name %> Dumped">
					<!-- <btn class="btn btn-danger">Dumped <span class="badge"> <%= @dumped %> </span></btn> -->
					<div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @dumped/allties.length * 100 %>%;">
						<%= @dumped/allties.length %>
					</div>
					</a>
				</div>
				<% else %>
				<p>
					No alumni Alloted
				</p>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
