<br>
<br>
<div class="container-fluid" style="text-align: center; ">
	<div class="col-md-5">
		<a href="<%= new_student_member_session_path %>">
			<button class="btn btn-lg btn-success">
				Login as Student Member
			</button>
		</a>
		<br/>
		<br>
		<a href="<%= new_student_member_registration_path %>">
			<button class="btn btn-lg btn-info">
				Register as a Student Member
			</button>
		</a>
	</div>
	<div class="col-md-2">
		<a href="<%= viewall_index_path %>">
			<button class="btn btn-primary">
				Viewall
			</button>
		</a>
	</div>
	<div class="col-md-5">
		<a href="<%= new_coordinator_session_path %>">
			<button class="btn btn-lg btn-success">
				Login as Coordinator
			</button>
		</a>
		<br>
		<br>
		<a href="<%= new_coordinator_registration_path %>">
			<button class="btn btn-lg btn-info">
				Register as a Coordinator
			</button>
		</a>
	</div>
</div>


