<hr>

<div class="">
	<div class="row">
		<div class="col-md-6">
			<div class="well" align="center">
				<h4>Total Alums <%= Alumni.count %></h4>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well" align="center">
				<h4>Total student members <%= StudentMember.count %></h4>
			</div>
		</div>
	</div>
	<br>
	<div class="" align="">
		<% if Alumni.count %>
		<table id="alumniTable" class="table table-striped">
			<thead>
				<td>Alumni</td>
				<td>Assigned to</td>
				<td>Response</td>
				<td>Search Status</td>
			</thead>
			<tbody>
				<% @allAlums.each do |alumni| %>
				<tr>
					<% tied = if alumni.studentmember_id != 0 then StudentMember.find(alumni.studentmember_id).name else 'Unallotted' end %>
					<td><%= alumni.name %></td>
					<td><%= tied %></td>
					<td><%= @response_all[alumni.response] %></td>
					<td><%= @search_all[alumni.search] %></td>

				</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
		<h3>Currently, no data available</h3>
		<% end %>
	</div>

	<br>
</div>
