<hr> 

<div class="">
	<div class="row">
		<div class="col-md-6">
			<div class="well" align="center">
				<h4>Total Alums <%= Alumni.count %></h4>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well" align="center">
				<h4>Total student members <%= StudentMember.count %></h4>
			</div>
		</div>
	</div>
	<br>
	<div class="" align="">
		<% if Alumni.count %>
		<table id="alumniTable" class="table table-striped">
			<thead>
				<td>Alumni</td>
				<td>Assigned to</td>
				<td>Response</td>
				<td>Search Status</td>
			</thead>
			<tbody>
				<% @allAlums.each do |alumni| %>
				<tr>
					<td><%= alumni.name %></td>

					<% stat = AlumniStatus.where({ :Alumni_id => "#{alumni.id}"}) %>
					<% if stat.length >= 1 %>

					<% stat = stat[0] %>
					<% searchstate = stat.search %>
					<% responsestate = stat.response %>

					<% else %>

					<% searchstate = "Not stored" %>
					<% responsestate = "Not stored" %>

					<% end %>

					<% tie = TieAlumniWithStudentMember.where({ :Alumni_id => "#{alumni.id}" }) %>

					<% if tie.length >= 1 %>

					<% tie = tie[0] %>
					<% tied = StudentMember.find(tie.StudentMember_id).name %>

					<% else %>

					<% tied = "Not yet assigned" %>

					<% end %>

					<td><%= tied %></td>
					<td><%= responsestate %></td>
					<td><%= searchstate %></td>
					
				</tr>
				<% end %>
			</tbody>
		</table>
		<% else %>
		<h3>Currently, no data available</h3>
		<% end %>
	</div>
	
	<br>
</div>
