<h1>Add a sponsor</h1>

<% temp = Sponsor.new %>

<%= form_for(temp) do |f| %>

<% temp.attributes.keys.each_with_index do |attribute, key| %>

<% if key < 1 or attribute.humanize.include? "Created" or attribute.humanize.include? "Updated" %>

<% next %>

<% end %>

<%= text_field_tag "sponsor[associate_id]", @current_id, :type => "hidden" %>
<%= text_field_tag "sponsor[associate_role]", @current_role, :type => "hidden" %>

<% if attribute.humanize.downcase.include? "associate"
  next
end %>

<%= label_tag attribute %>

<% if attribute.humanize.downcase.include? "date" %>

<%= date_field_tag "sponsor[" + attribute + "]", temp.attributes[attribute].to_s %>

<% elsif attribute.humanize.downcase.include? "status" %>

<%= select_tag "sponsor[" + attribute + "]", options_for_select([ "negative", "neutral", "positive" ], "neutral") %>
<br>

<% elsif attribute.humanize.downcase.include? "sent" %>

<%= select_tag "sponsor[" + attribute + "]", options_for_select([ "yes", "no" ], "no") %>
<br>

<% elsif attribute.humanize.downcase.include? "alumnus" %>

<%= select_tag "sponsor[" + attribute + "]", options_for_select([ "yes", "no" ], "no") %>
<br>

<% elsif (attribute.humanize.downcase.include? "phase" and not attribute.humanize.downcase.include? "remarks") %>

<%= select_tag "sponsor[" + attribute + "]", options_for_select([ "1", "2", "3", "other" ], "1") %>
<br>

<% else %>

<%= text_field_tag "sponsor[" + attribute + "]", temp.attributes[attribute].to_s %>

<% end %>

<% end %>

<%= f.submit %>

<% end %>
