<h1>
  All Sponsors
  <a href="/sponsors/new/">
    <button class="btn btn-primary" type="button">Add sponsor</button>
  </a>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <td>
        Company
      </td>
      <td>
        Next Date
      </td>
      <td>
        Proposal Sent?
      </td>
      <td>
        Assigned to
      </td>
      <td>
        Status
      </td>
      <td>
        Update
      </td>
    </tr>
  </thead>
  <tbody>
    <% @allSponsors.each do |sponsor| %>
    <tr>
      <td>
        <%= sponsor.company %>
      </td>
      <td>
        <%= sponsor.next_date %>
      </td>
      <td>
        <%= sponsor.proposal_sent %>
      </td>
      <td>
        <%= @allNames[sponsor.associate_role.to_s][sponsor.associate_id.to_i] %>
      </td>
      <td>
        <%= sponsor.status %>
      </td>
      <td>
        <a href="/sponsors/update/<%= sponsor.id %>">
        <button type="button" name="Edit" class="btn btn-primary">Edit</button>
        </a>
        <a href="/sponsors/view/<%= sponsor.id %>">
        <button type="button" name="Edit" class="btn btn-success">View</button>
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
