<h1>Profile page for Alumni ID <%= @thisID %> </h1>

<h3> <%= @alum.name %> </h3>
<h3> <%= @alum.hall %> Hall </h3>
<h3> <%= @alum.year %> Batch </h3>

<h2> Status Information </h2>

<h3> Search: <%= @astat.search %> </h3>
<h3> Calling: <%= @astat.response %> </h3>

<h3> 

<% if @assignedtoid > 0 %>

Assigned to <%= StudentMember.find(@assignedtoid).name %> (ID <%= @assignedtoid %>)

<% else %>

Not assigned to any Student Member. Contact SysAdmin for assigning this Alumni.

<% end %>

 </h3>

<%= form_for(@alumni_data) do |f| %>

<%= text_field_tag "id", @alumni_data.id.to_s, type: 'hidden' %>

<% @alumni_data.attributes.keys.each_with_index do |attribute, key| %>

<% if key < 2 or key >= AlumniData.column_names.length - 2 %>

<% next %>

<% end %>

<%= label_tag attribute.humanize %>

<% if @editingAllowed %>

<%= text_field_tag "alumni_data[" + attribute + "]", @alumni_data.attributes[attribute].to_s %>

<% else %>

<%= text_field_tag "alumni_data[" + attribute + "]", @alumni_data.attributes[attribute].to_s, disabled: 'disabled' %>

<% end %>

<% end %>

<%= f.submit %>

<% end %>
