<style type="text/css">
li:hover{
	cursor: pointer;
}
</style>

<h1>Profile page for Alumni ID <%= @thisID %> </h1>

<h3> <%= @alum.name %> </h3>
<h3> <%= @alum.hall %> Hall </h3>
<h3> <%= @alum.year %> Batch </h3>

<h2> Status Information </h2>

<h3> Search: </h3>

<ul class="setsearch nav nav-pills">
	<li role="presentation" data-val-integer="3" data-val="dumped"><a>Dumped</a></li>
	<li role="presentation" data-val-integer="2" data-val="tobesearched"><a>To-be-searched</a></li>
	<li role="presentation" data-val-integer="1" data-val="found"><a>Found</a></li>
	<li role="presentation" data-val-integer="0" data-val="ready"><a>Ready</a></li>
</ul>

<h3> Calling: </h3>

<ul class="setresponse nav nav-pills">
	<li role="presentation" data-val-integer="1" data-val="negative"><a>Negative</a></li>
	<li role="presentation" data-val-integer="2" data-val="neutral"><a>Neutral</a></li>
	<li role="presentation" data-val-integer="0" data-val="positive"><a>Positive</a></li>
	<li role="presentation" data-val-integer="3" data-val="registered"><a>Registered</a></li>
	<li role="presentation" data-val-integer="4" data-val="paid"><a>Paid</a></li>
</ul>

<h3> 

	<% if @assignedtoid > 0 %>

	Assigned to <%= StudentMember.find(@assignedtoid).name %> (ID <%= @assignedtoid %>)

	<% else %>

	Not assigned to any Student Member. Contact SysAdmin for assigning this Alumni.

	<% end %>

</h3>

<%= form_for(@alumni_data) do |f| %>

<% if @editingAllowed %>

<%= text_field_tag "alum_id", @alumni_data.id.to_s, type: 'hidden' %>
<%= text_field_tag "student_id", current_student_member.id, type: 'hidden' %>

<% end %>

<% @alumni_data.attributes.keys.each_with_index do |attribute, key| %>

<% if key<2 or attribute.humanize.include? "Created" or attribute.humanize.include? "Updated" %>

<% next %>

<% end %>

<%= label_tag attribute %>

<% if @editingAllowed %>

<%= text_field_tag "alumni_data[" + attribute + "]", @alumni_data.attributes[attribute].to_s %>

<% else %>

<%= text_field_tag "alumni_data[" + attribute + "]", @alumni_data.attributes[attribute].to_s, disabled: 'disabled' %>

<% end %>

<% end %>

<%= f.submit %>

<% end %>

<%= render "partials/paymentmodal" %>

<script type="text/javascript">
$(document).ready(function(){

	$(".setsearch li[data-val=<%= @astat.search%>]").addClass("active");
	$(".setresponse li[data-val=<%= @astat.response%>]").addClass("active");

	<% if @editingAllowed %>	

	$(".setsearch li").on("click", function(){
		data = {
			id: "<%= @alum.id %>",
			setsearch: $(this).attr("data-val-integer")
		};

		$(".setsearch li").each(function(){
			$(this).removeClass("active");
		});

		$(this).addClass("active");

		$.post("/alumni/status/search", data);
	});

	$(".setresponse li").on("click", function(){
		data = {
			id: "<%= @alum.id %>",
			setresponse: $(this).attr("data-val-integer")
		};

		if(data.setresponse == 4){
			$("#payment_details_modal").modal('show');
		}

		else{

			$(".setresponse li").each(function(){
				$(this).removeClass("active");
			});

			$(this).addClass("active");

			$.post("/alumni/status/response", data);
		}
	});

	<% else %>

	$(".setsearch li, .setresponse li").each(function(){
		$(this).addClass("disabled");
	})

	<% end %>

	// validate the call_next_at field
	// Expected: yyyy-mm-dd hh:mm

	$("form").on("submit", function(e){
		if(!$("#alumni_data_call_next_at").val().toString().match(/[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}/g)
			||
			$("#alumni_data_call_next_at").val().toString().length != 16 ){
			alert("The call next at field must obey yyyy-mm-dd hh:mm");
		e.preventDefault();
	}

	console.log($("#alumni_data_call_next_at").val().toString().length <= 16);

});

	// validate the payment details field

	// $("#alumni_data_payment_details").attr("disabled", "disabled");

	getJSON = function(selector){
		data = new Object();
		arr = $(selector).serializeArray();
		for(var i=0; i<arr.length; ++i ){
			data[arr[i].name] = arr[i].value;
		}
		return data;
	};

	$("#payment_details_form").on("submit", function(e){
		console.log(getJSON());
		form_data = getJSON("form#payment_details_form");
		$("#alumni_data_payment_details").val(JSON.stringify(form_data));

		$("#payment_details_modal").modal("hide");

		$(".setresponse li").each(function(){
			$(this).removeClass("active");
		});

		$("[data-val=paid]").addClass("active");

		data = {
			id: "<%= @alum.id %>",
			setresponse: 4
		};

		$.post("/alumni/status/response", data);

		e.preventDefault();

		$("form.edit_alumni_data").submit();
	});

});
</script>
