<h1>Home page for StudentMember ID <%= @thisID %> </h1>

<h2>Alumni Assigned to you</h2>

<style>
thead td:hover{
	cursor: pointer;
}
</style>

<p>Total Alumni Allotted: <%= @allalums.length %></p>

<br>

<table id="alumniTable" class="table table-striped">
	<thead>
		<td>id</td>
		<td>name</td>
		<td>department</td>
		<td>hall</td>
	</thead>
	<tbody>
		<% @allalums.each do |alumni| %>
		<tr>
			<td><%= alumni.id %></td>
			<td><%= alumni.name %></td>
			<td><%= alumni.department %></td>
			<td><%= alumni.hall %></td>
		</tr>
		<% end %>
		<tr>
		</tr>
	</tbody>
</table>

<script>
$(document).ready(function() 
    { 
        $("#alumniTable").tablesorter(); 
        $("thead td").on("click", function(){
        	$("thead td").each(function(){
        		$(this).css("background", "white");
        	});
        	$(this).css("background", "lightblue");
        });
    } 
); 
  
</script>