<!DOCTYPE html>
<html>
<head>
	<title>SAC Internal ERP</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
	<script type="text/javascript" charset="utf8" src="/sieve.min.js"></script>

	<%= csrf_meta_tags %>

</head>
<body>
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">SAC Internal ERP</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<% if student_member_signed_in? %>
					<li>
						<a href="/viewall/alumni">Alumni Database</a>
					</li>
					<li>
						<a href="/viewall/students">Student Member Status</a>
					</li>
					<li>
						<a href="<%= edit_student_member_registration_path %>">Signed in as <%= current_student_member.name %></a>
					</li>
					<li>
						<%= link_to "Signout", destroy_student_member_session_path, method: :delete %>
					</li>

					<% else %>

					<% if coordinator_signed_in? %>
					<li>
						<a href="/viewall/alumni/paid">Unverified Payments</a>
					</li>
					<li>
						<a href="/viewall/alumni">Alumni Status</a>
					</li>
					<li>
						<a href="/viewall/students">Student Member Status</a>
					</li>
					<li>
						<a href="<%= edit_coordinator_registration_path %>">Signed in as <%= current_coordinator.name %></a>
					</li>
					<li>
						<%= link_to "Signout", destroy_coordinator_session_path, method: :delete %>
					</li>

					<% else %>

					<li>
						<%= link_to "Sign in as a Student Member", new_student_member_session_path %>
					</li>
					<li>
						<%= link_to "Sign in as a Coordinator", new_coordinator_session_path %>
					</li>
					<% end %>
					<% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</div>

	<%= yield %>

	<script type="text/javascript">
	function getParam(functionArg){
		var getParams = window.location.search.substring(1);

		var arr = getParams.split("&");

		for(var i=0; i<arr.length; i+=1){
			var temp = arr[i];
			var t2 = temp.split("=");

			if (t2[0] == functionArg)

				return t2[1];

		}
	};

	$(document).ready(function() {

		$('table').each(function(){
			$(this).sieve();
			$(this).tablesorter();
		});

		$("thead td").on("click", function(){
			$("thead td").each(function(){
				$(this).css("background", "white");
			});
			$(this).css("background", "lightblue");
		});

		if(getParam("search")){
			$("div label input[type=text]").addClass("search-field");
			var elem = $(".search-field");
			elem.val(getParam("search"));
			elem.trigger("change");
		}

	}); 

	</script>

</body>
</html>
