<!DOCTYPE html>
<html>
<head>
	<title>Annual Alumni Meet 2016 &middot; Information Center</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
	<script type="text/javascript" charset="utf8" src="/sieve.min.js"></script>

	<%= csrf_meta_tags %>

</head>
<body>
	<% if registered_alumni_signed_in? %>
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Information Center</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<% if registered_alumni_signed_in? %>
					<li>
						<%= link_to "Edit Profile", edit_registered_alumni_registration_path %>
					</li>
					<li>
						<%= link_to "Signout", destroy_registered_alumni_session_path, method: :delete %>
					</li>
					<% end %>
				</ul>
			</div><!--/.nav-collapse -->
		</div><!--/.container-fluid -->
	</div>
	<% end %>

	<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
	<% end %>

	<%= yield %>

</body>
</html>
